.Sidebar {
  max-width: 20%;
  flex-basis: 20%;
  margin-right: 20px;
}

.SidebarListItem {
  &:not(:last-child){
    margin-bottom: 15px;
  }
}

.SidebarListItemLink{
  display: inline-block;
  width: 100%;
  padding: 8px;
  border: 1px solid #000000;
  text-transform: uppercase;
}


@media (max-width: 991px) {
  .Sidebar {
    max-width: 100%;
    flex-basis: 100%;
    margin-right: 0;
  }
}
